<ActionBar title="Login Providers" class="action-bar"></ActionBar>

<StackLayout class="page">
  <ListView [items]="providers">
    <ng-template let-provider="item">

      <Button class="btn btn-outline icon btn-active" (tap)="onTap(provider.id)">
        <FormattedString>
          <Span text=" Sign up with " foregroundColor="#3B5998"></Span>
          <Span [text]="provider.name" fontAttributes="Bold" [foregroundColor]="provider.color"></Span>
        </FormattedString>
      </Button>
    </ng-template>
  </ListView>
  <Label [text]="'id: ' + result.user.id"></Label>
  <Label [text]="'email: ' + result.user.email"></Label>
  <Label [text]="'firstName: ' + result.user.firstName"></Label>
  <Label [text]="'lastName: ' + result.user.lastName"></Label>
</StackLayout>
